<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MMAp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.MessManagementApp"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".presentation.activities.AddMealsActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activities.AddPaymentActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activities.EditMemberActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activities.AddMemberActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activities.MemberInfoActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activities.GroceryManageActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activities.AddMessActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activities.EditCreateMessActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activities.HomeActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.activities.ForgetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activities.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activities.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>